Temperature & Humidity XY-MD02 With Converter Modbus USB.json
[
    {
        "id": "1884ac992d592738",
        "type": "modbus-read",
        "z": "c6e78f3faff91d22",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "1",
        "quantity": "2",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "5b7adca7927fc53b",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "8c8915e178932729"
            ],
            []
        ]
    },
    {
        "id": "c7a6e8a022159db9",
        "type": "debug",
        "z": "c6e78f3faff91d22",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "8c8915e178932729",
        "type": "function",
        "z": "c6e78f3faff91d22",
        "name": "function 1",
        "func": "var temp = msg.payload[0] / 10;\nvar hum = msg.payload[1] / 10;\n\nmsg.payload = {\n    \"temperature\": temp,\n    \"humidity\": hum\n};\n\nmsg.payload.temperature;\nmsg.payload.humidity;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "a6f16ed4a36f7ca3",
                "c7a6e8a022159db9",
                "243135d5a14127bc"
            ]
        ]
    },
    {
        "id": "a6f16ed4a36f7ca3",
        "type": "ui_gauge",
        "z": "c6e78f3faff91d22",
        "name": "",
        "group": "4ddf4e8eb2591730",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "243135d5a14127bc",
        "type": "ui_gauge",
        "z": "c6e78f3faff91d22",
        "name": "",
        "group": "4ddf4e8eb2591730",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "5b7adca7927fc53b",
        "type": "modbus-client",
        "name": "",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM3",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "4ddf4e8eb2591730",
        "type": "ui_group",
        "name": "Temperature Humidity",
        "tab": "f50c077d1de01690",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f50c077d1de01690",
        "type": "ui_tab",
        "name": "XYMD-02",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
